@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

/* Variables */

:root {
    --font-family: 'Nova Mono', monospace;
    --normal-font: 400;
    --bold-font: 700;
    --bg-color: white;
    --fg-color: #424242;
    --line-height: 1.7rem;
}

html {
    scroll-behavior: smooth;
}


/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    font-family: var(--font-family);
    background-color: var(--fg-color);
    padding: 0;
}

/* Navbar */

nav {
    width: 100%;
    height: 5rem;
    background-color: var(--fg-color);
    align-items: center;
}

.nav-list {
    display: flex;
    height: 5rem;
    float: right;
    justify-content: center;
}

.nav-item {
    display: inline;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 100%;
    padding: 0;
}

.navbar-brand {
    text-decoration: none;
    color: white;
    line-height: 5rem;
    margin: 2rem;
    font-size: xx-large;
}

.nav-list {
    text-decoration: none;
    list-style-type: none;
}

.nav-item a {
    text-decoration: none;
}

.nav-link {
    height: 100%;
    margin: auto;
    font-size: 2rem;
    /* top: 50%; */
    position: relative;
    top: calc(50% - 1.5rem);
}

.icon {
    height: 2rem;
    filter: brightness(0) invert(1);
    text-align: center;
}

.icon:hover {
    color: blueviolet;
    transform: scale(1.5);
}

/* Plane canvas */

.plane-container {
    width: 100%;
    height: 50rem;
    /* background-color: #949494; */
}

.geo-bg-div {
    width: 100%;
    height: 50rem;
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: -5;
}

.geo-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-container {
    min-width: 20rem;
    width: fit-content;
    padding-right: 20%;
    height: 33%;
    margin: auto;
    position: relative;
    top: 33%;
}

.title-container h1 {
    /* margin: 10%; */
    color: white;
    font-size: 75px;
    text-shadow: 5px 5px 5px #424242;
}

.title-container img {
    background-color: #424242;
}

/* Cards */

/* .card {
    height: 100rem;
    background-color: #424242;
} */

#typew-text {
    color: white;
    font-size: 40px;
    text-shadow: 5px 5px 5px #424242;
}

span {
    border-radius: 0.5em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}